In [69]:
import numpy as np
import pandas as pd

from sklearn import datasets
from sklearn.metrics import r2_score
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

In [70]:
dataset = pd.read_csv('heart.csv')

In [71]:
dataset.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [72]:
dataset.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [73]:
dataset.shape

(303, 14)

In [189]:
x = df.drop(columns=['target'])
y = df['target']

In [200]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=2)

In [201]:
model = GaussianNB()
model.fit(x_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [202]:
print(model)

GaussianNB(priors=None, var_smoothing=1e-09)

In [203]:
prediction = model.predict(x_test)

In [204]:
r2_score(prediction, y_test)

0.5408602150537634

In [210]:
dataset.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [219]:
new_data = [[22, 0, 1, 120, 299, 1, 1, 155, 1, 3.2, 1, 0, 2,]]

In [220]:
model.predict(new_data)

array([1], dtype=int64)